.tg  {
    border-collapse:collapse;
    border-spacing:0;
    border-style: hidden;
}

.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}

.bg {
    background: url("http://www.allweathercontractors.com/wp-content/uploads/background-allweather.png");
    color: white;
}

.colorWhite {
    color: white;
}

.centerTable {
    margin: 0 auto;
}

.centerText {
    text-align: center;
}