<ion-view title="Şehir Seç">
    <div class="bar bar-subheader bar-secondary-nav item-input-inset">
        <label class="item-input-wrapper">
            <input type="search" ng-model="citySearchValue" placeholder="Şehir ara" />
        </label>
        <a class="button button-icon icon ion-search" ng-click="searchCity();"></a>
    </div>

    <ion-content class="has-subheader">

        <ion-list id="citySearchList" class="list">
            <ion-item collection-repeat="city in cityListJson"
                      collection-item-width="'100%'"
                      collection-item-height="60"
                      ng-click="selectedCity(city);">
                <h3>{{city.areaName[0].value}}, {{city.region[0].value}}, {{city.country[0].value}}</h3>

            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>