<ion-nav-bar class="bar bar-dark nav-title-slide-ios7">
    <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i>Geri</ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view name="main-view" animation="slide-left-right"></ion-nav-view>

<div class="tabs-striped tabs-color-dark" ng-hide="stateName == 'app.cityList' || stateName == 'app.cityAdd'">
    <div class="tabs">
        <a class="tab-item" ui-sref-active="active" ui-sref="app.nowTab">
            Şimdi
        </a>

        <a class="tab-item" ui-sref-active="active" ui-sref="app.todayTab">
            Bugün
        </a>

        <a class="tab-item" ui-sref-active="active" ui-sref="app.tomorrowTab">
            Yarın
        </a>

        <a class="tab-item" ui-sref-active="active" ui-sref="app.thirdDayTab">
            {{thirdDayName}}
        </a>
    </div>
</div>

