<ion-view title="Hava Durumu" hide-back-button="true" class="bg">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-location" ui-sref="app.cityList"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-refresh" ng-click="refreshWeather();"></button>
    </ion-nav-buttons>

    <ion-content>

        <div id="homeDiv">

            <table class="tg centerTable centerText">
                <tr>
                    <th class="tg-031e"><h1 class="colorWhite">{{city.current_condition[0].temp_C}}°C</h1></th>
                    <th class="tg-031e" colspan="2"><img ng-src="{{city.current_condition[0].weatherIconUrl[0].value}}" alt=""/></th>
                    <th class="tg-031e"><h2 class="colorWhite">{{city.current_condition[0].lang_tr[0].value}}</h2></th>
                </tr>
                <tr>
                    <td class="tg-031e">Hissedilen {{city.current_condition[0].FeelsLikeC}}°C </td>
                    <td class="tg-031e" colspan="2">{{city.name}}</td>
                    <td class="tg-031e">Min {{city.weather[0].mintempC}}° | Max {{city.weather[0].maxtempC}}°</td>
                </tr>
                <tr>
                    <td class="tg-031e">Nem <br/>{{city.current_condition[0].humidity}}%</td>
                    <td class="tg-031e">Yağış <br/>{{city.current_condition[0].precipMM}}mm</td>
                    <td class="tg-031e">Basınç <br/>{{city.current_condition[0].pressure}}mm</td>
                    <td class="tg-031e">Görünürlük <br/>{{city.current_condition[0].visibility}}km</td>
                </tr>
            </table>
        </div>

        <div style="width: 100%; height: 50px;"></div>

    </ion-content>


</ion-view>

