<ion-view title="Şehirlerim">

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-empty" ui-sref="app.cityAdd"></button>
    </ion-nav-buttons>

    <ion-content>
        <div id="cityListContainer" class="list">
            <label class="item item-radio" ng-repeat="city in cityList">
                <input type="radio" name="group" ng-model="cityListModel" value="{{city.name}}" ng-change="selectedCityChange(city);">
                <div class="item-content">
                    {{city.name}} ({{city.current_condition[0].FeelsLikeC}}°C - {{city.current_condition[0].lang_tr[0].value}})
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</ion-view>