<ion-view title="Hava Durumu" hide-back-button="true" class="bg">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-location" ui-sref="app.cityList"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-refresh" ng-click="refreshWeather();"></button>
    </ion-nav-buttons>

    <ion-content>
        <div id="homeDiv">
            <div class="list">
                <a class="item item-thumbnail-left bg" href="#" ng-repeat="item in city.weather[2].hourly">
                    <img src="{{item.weatherIconUrl[0].value}}">
                    <h3 class="colorWhite">{{item.tempC}}°C</h3>
                    <p style="color: white;">{{item.lang_tr[0].value}}</p>
                    <p style="color: white;">Hissedilen {{item.FeelsLikeC}}°C</p>
                    <h4 class="colorWhite">{{city.request[0].query}} {{city.weather[2].date}} {{item.time.length == 3 ? item.time.substring(0,1) + ':' + item.time.substring(1) : item.time.substring(0,2) + ':' + item.time.substring(2)}}</h4>
                </a>
            </div>
        </div>
        <div style="width: 100%; height: 50px;"></div>
    </ion-content>

</ion-view>

